/*
    Redwolf Design Studio SCSS - JMendoza
    
    Created: 2017-07-05
    Dependencies: Wordpress v4.8, WP FullPage v4.0.5.2
*/
/* fonts */
@font-face {
  font-family: 'KronaOne-Regular';
  src: url("/wp-includes/fonts/KronaOne-Regular.eot");
  src: url("/wp-includes/fonts/KronaOne-Regular.woff2") format("woff2"), url("/wp-includes/fonts/KronaOne-Regular.woff") format("woff"), url("/wp-includes/fonts/KronaOne-Regular.ttf") format("truetype"), url("/wp-includes/fonts/KronaOne-Regular.svg#KronaOne-Regular") format("svg"), url("/wp-includes/fonts/KronaOne-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ExpoSansStd-Thin';
  src: url("/wp-includes/fonts/ExpoSansStd-Thin.eot");
  src: url("/wp-includes/fonts/ExpoSansStd-Thin.woff2") format("woff2"), url("/wp-includes/fonts/ExpoSansStd-Thin.woff") format("woff"), url("/wp-includes/fonts/ExpoSansStd-Thin.ttf") format("truetype"), url("/wp-includes/fonts/ExpoSansStd-Thin.svg#ExpoSansStd-Thin") format("svg"), url("/wp-includes/fonts/ExpoSansStd-Thin.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ExpoSansStd-Light';
  src: url("/wp-includes/fonts/ExpoSansStd-Light.eot");
  src: url("/wp-includes/fonts/ExpoSansStd-Light.woff2") format("woff2"), url("/wp-includes/fonts/ExpoSansStd-Light.woff") format("woff"), url("/wp-includes/fonts/ExpoSansStd-Light.ttf") format("truetype"), url("/wp-includes/fonts/ExpoSansStd-Light.svg#ExpoSansStd-Light") format("svg"), url("/wp-includes/fonts/ExpoSansStd-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ExpoSansStd-Medium';
  src: url("/wp-includes/fonts/ExpoSansStd-Medium.eot");
  src: url("/wp-includes/fonts/ExpoSansStd-Medium.woff2") format("woff2"), url("/wp-includes/fonts/ExpoSansStd-Medium.woff") format("woff"), url("/wp-includes/fonts/ExpoSansStd-Medium.ttf") format("truetype"), url("/wp-includes/fonts/ExpoSansStd-Medium.svg#ExpoSansStd-Medium") format("svg"), url("/wp-includes/fonts/ExpoSansStd-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ExpoSansStd-SemiBold';
  src: url("/wp-includes/fonts/ExpoSansStd-SemiBold.eot");
  src: url("/wp-includes/fonts/ExpoSansStd-SemiBold.woff2") format("woff2"), url("/wp-includes/fonts/ExpoSansStd-SemiBold.woff") format("woff"), url("/wp-includes/fonts/ExpoSansStd-SemiBold.ttf") format("truetype"), url("/wp-includes/fonts/ExpoSansStd-SemiBold.svg#ExpoSansStd-SemiBold") format("svg"), url("/wp-includes/fonts/ExpoSansStd-SemiBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ExpoSansStd-Bold';
  src: url("/wp-includes/fonts/ExpoSansStd-Bold.eot");
  src: url("/wp-includes/fonts/ExpoSansStd-Bold.woff2") format("woff2"), url("/wp-includes/fonts/ExpoSansStd-Bold.woff") format("woff"), url("/wp-includes/fonts/ExpoSansStd-Bold.ttf") format("truetype"), url("/wp-includes/fonts/ExpoSansStd-Bold.svg#ExpoSansStd-Bold") format("svg"), url("/wp-includes/fonts/ExpoSansStd-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
/* fullpage overrides */
.wpfp-menu,
#wpfp-navmenu,
.fp-slides .inner-slide .entry-title {
  display: none !important; }

.section.homepage-intro .slide.homepage-intro article div.inner-slide {
  margin: 0 !important;
  padding: 0 !important; }

.homepage-intro-wrapper {
  margin: 0 15px; }

.section .slide article {
  width: 80% !important; }

.section.homepage-intro .slide.homepage-intro article {
  width: 100% !important; }

/* defaults */
.img-responsive {
  width: 100%;
  height: auto; }

.text-center {
  text-align: center !important; }

.text-color-gray {
  color: #888888; }

.text-color-orange {
  color: #ee9922; }

ol.blank-list,
ul.blank-list {
  padding: 0;
  margin: 0; }

.homepage-section {
  height: inherit;
  width: inherit;
  padding: 0;
  margin: 0;
  overflow: hidden; }
  .homepage-section .logo-container {
    width: 100%;
    margin: 20px 0 100px 0; }
    .homepage-section .logo-container .logo {
      max-width: 240px;
      max-height: 240px;
      min-height: 80px;
      min-width: 90px;
      margin: 0 auto; }
  .homepage-section .intro-container {
    width: 100%;
    margin: 20px 0; }

.rds-branding {
  color: #131313 !important;
  font-family: "KronaOne-Regular", sans-serif;
  text-align: center;
  text-transform: uppercase; }

.rds-slogan {
  color: #888888 !important;
  font-family: "ExpoSansStd-Light", sans-serif;
  text-align: center; }

.rds-heading {
  font-family: "ExpoSansStd-Bold", sans-serif; }

.rds-subheading {
  font-family: "ExpoSansStd-Medium", sans-serif; }

.rds-section {
  width: 100%;
  margin: 0; }

.rds-row {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%; }
  .rds-row .rds-col-m-3,
  .rds-row .rds-col-m-4,
  .rds-row .rds-col-m-6,
  .rds-row .rds-col-m-12,
  .rds-row .rds-col-d-3,
  .rds-row .rds-col-d-4,
  .rds-row .rds-col-d-6,
  .rds-row .rds-col-d-12 {
    height: 100%;
    float: left;
    margin: 0;
    padding: 0; }

/* mobile layout (420px) */
@media only screen and (max-width: 419px) {
  body {
    font-family: "ExpoSansStd-Light", sans-serif;
    color: #131313;
    line-height: 24px; }

  /*
  h1, h2, h3, h4 {
      color: $text-color-black;
      line-height: $line-height-heading-mobile;    
  }
  h5, h6 {
      color: $text-color-black;
      line-height: $line-height-text-mobile;
  }
  */
  p {
    color: #131313;
    line-height: 24px; }

  a {
    color: #dd0000;
    text-decoration: underline; }

  .rds-col-m-3 {
    width: 25%; }

  .rds-col-m-4 {
    width: 33.33333%; }

  .rds-col-m-6 {
    width: 50%; }

  .rds-col-m-12 {
    width: 100%; }

  .homepage-section {
    background: none !important; }

  .rds-section-label {
    padding-bottom: 12px;
    border-bottom: #888888 1px solid;
    margin-bottom: 24px; } }
/* desktop layout (420px) */
@media only screen and (min-width: 419px) {
  body {
    font-family: "ExpoSansStd-Light", sans-serif;
    color: #131313;
    line-height: 24px; }

  /*
  h1, h2, h3, h4 {
      line-height: $line-height-heading-desktop;    
  }
  h5, h6 {
      line-height: $line-height-text-desktop;
  }
  */
  p {
    line-height: 24px; }

  a {
    color: #dd0000;
    text-decoration: underline; }

  .rds-col-d-3 {
    width: 25%; }

  .rds-col-d-4 {
    width: 33.33333%; }

  .rds-col-d-6 {
    width: 50%; }

  .rds-col-d-12 {
    width: 100%; }

  .homepage-section {
    background: linear-gradient(rgba(255, 255, 255, 0.25), white), url(https://www.redwolfdesignstudio.com/wp-content/uploads/2017/07/laptop-coffee-bg.jpg);
    background-position: 50% 50% !important;
    background-size: cover !important;
    background-repeat: no-repeat; }

  .fp-tableCell {
    display: block !important; }

  .rds-section-label {
    padding-bottom: 24px;
    border-bottom: #888888 1px solid;
    margin-bottom: 48px; } }

/*# sourceMappingURL=output.css.map */
