/*
    Redwolf Design Studio SCSS - JMendoza
    
    Created: 2017-07-05
    Dependencies: Wordpress v4.8, WP FullPage v4.0.5.2
*/







/* fonts */
$text-color-black: #131313;
$text-color-gray: #888888;
$link-color-red: #dd0000;
$link-color-orange: #ee9922;



$line-height-heading-mobile: 24px;
$line-height-heading-desktop: 48px;

$heading-padding-mobile: $line-height-heading-mobile / 2;
$heading-padding-desktop: $line-height-heading-desktop / 2;
    
$line-height-text-mobile: 24px;
$line-height-text-desktop: 24px;



$font-size-heading-mobile: 24px;
$font-size-heading-desktop: 40px;

$font-size-subheading-mobile: 18px;
$font-size-subheading-desktop: 32px;



$font-size-text-mobile: 14px;
$font-size-text-desktop: 16px;

$font-size-subtext-mobile: 10px;
$font-size-subtext-desktop: 12px;




$font-face-branding: 'KronaOne-Regular', sans-serif;
@font-face {
  font-family: 'KronaOne-Regular';
  src: url('/wp-includes/fonts/KronaOne-Regular.eot');
  src: url('/wp-includes/fonts/KronaOne-Regular.woff2') format('woff2'),
       url('/wp-includes/fonts/KronaOne-Regular.woff') format('woff'),
       url('/wp-includes/fonts/KronaOne-Regular.ttf') format('truetype'),
       url('/wp-includes/fonts/KronaOne-Regular.svg#KronaOne-Regular') format('svg'),
       url('/wp-includes/fonts/KronaOne-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


$font-face-thin: 'ExpoSansStd-Thin', sans-serif;
@font-face {
  font-family: 'ExpoSansStd-Thin';
  src: url('/wp-includes/fonts/ExpoSansStd-Thin.eot');
  src: url('/wp-includes/fonts/ExpoSansStd-Thin.woff2') format('woff2'),
       url('/wp-includes/fonts/ExpoSansStd-Thin.woff') format('woff'),
       url('/wp-includes/fonts/ExpoSansStd-Thin.ttf') format('truetype'),
       url('/wp-includes/fonts/ExpoSansStd-Thin.svg#ExpoSansStd-Thin') format('svg'),
       url('/wp-includes/fonts/ExpoSansStd-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

$font-face-light: 'ExpoSansStd-Light', sans-serif;
@font-face {
  font-family: 'ExpoSansStd-Light';
  src: url('/wp-includes/fonts/ExpoSansStd-Light.eot');
  src: url('/wp-includes/fonts/ExpoSansStd-Light.woff2') format('woff2'),
       url('/wp-includes/fonts/ExpoSansStd-Light.woff') format('woff'),
       url('/wp-includes/fonts/ExpoSansStd-Light.ttf') format('truetype'),
       url('/wp-includes/fonts/ExpoSansStd-Light.svg#ExpoSansStd-Light') format('svg'),
       url('/wp-includes/fonts/ExpoSansStd-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

$font-face-medium: 'ExpoSansStd-Medium', sans-serif;
@font-face {
  font-family: 'ExpoSansStd-Medium';
  src: url('/wp-includes/fonts/ExpoSansStd-Medium.eot');
  src: url('/wp-includes/fonts/ExpoSansStd-Medium.woff2') format('woff2'),
       url('/wp-includes/fonts/ExpoSansStd-Medium.woff') format('woff'),
       url('/wp-includes/fonts/ExpoSansStd-Medium.ttf') format('truetype'),
       url('/wp-includes/fonts/ExpoSansStd-Medium.svg#ExpoSansStd-Medium') format('svg'),
       url('/wp-includes/fonts/ExpoSansStd-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

$font-face-semibold: 'ExpoSansStd-SemiBold', sans-serif;
@font-face {
  font-family: 'ExpoSansStd-SemiBold';
  src: url('/wp-includes/fonts/ExpoSansStd-SemiBold.eot');
  src: url('/wp-includes/fonts/ExpoSansStd-SemiBold.woff2') format('woff2'),
       url('/wp-includes/fonts/ExpoSansStd-SemiBold.woff') format('woff'),
       url('/wp-includes/fonts/ExpoSansStd-SemiBold.ttf') format('truetype'),
       url('/wp-includes/fonts/ExpoSansStd-SemiBold.svg#ExpoSansStd-SemiBold') format('svg'),
       url('/wp-includes/fonts/ExpoSansStd-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

$font-face-bold: 'ExpoSansStd-Bold', sans-serif;
@font-face {
  font-family: 'ExpoSansStd-Bold';
  src: url('/wp-includes/fonts/ExpoSansStd-Bold.eot');
  src: url('/wp-includes/fonts/ExpoSansStd-Bold.woff2') format('woff2'),
       url('/wp-includes/fonts/ExpoSansStd-Bold.woff') format('woff'),
       url('/wp-includes/fonts/ExpoSansStd-Bold.ttf') format('truetype'),
       url('/wp-includes/fonts/ExpoSansStd-Bold.svg#ExpoSansStd-Bold') format('svg'),
       url('/wp-includes/fonts/ExpoSansStd-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


/* fullpage overrides */
.wpfp-menu,
#wpfp-navmenu,
.fp-slides .inner-slide .entry-title {
    display:none !important;
}
.section.homepage-intro .slide.homepage-intro article div.inner-slide {
    margin:0 !important;padding:0 !important;
}
.homepage-intro-wrapper {
    margin:0 15px;
}
.section {
    .slide {
        article {
            width:80% !important;
        }
    }
}
.section.homepage-intro .slide.homepage-intro article {
    width: 100% !important;
}


/* defaults */
.img-responsive {
    width:100%;height:auto;
}
.text-center {
    text-align: center !important;
}
.text-color-gray {
    color: $text-color-gray;
}
.text-color-orange {
    color: $link-color-orange;
}
ol.blank-list,
ul.blank-list {
    padding:0;margin:0;
}


.homepage-section {
    height:inherit;width:inherit;padding:0;margin:0;overflow:hidden;
    
    .logo-container {
        width:100%;margin:20px 0 100px 0;
        
        .logo {
            max-width:240px;max-height:240px;
            min-height:80px;min-width:90px;
            margin:0 auto;
        }
    }
    
    .intro-container {
        width: 100%;margin:20px 0;
    }
}


.rds-branding {
    color: $text-color-black !important;
    font-family: $font-face-branding;
    text-align: center;
    text-transform: uppercase;
}
.rds-slogan {
    color: $text-color-gray !important;
    font-family: $font-face-light;
    text-align: center;
}
.rds-heading {
    font-family: $font-face-bold;
}
.rds-subheading {
    font-family: $font-face-medium;
}

.rds-section {
    width:100%;margin:0;
}
.rds-row {
    display:block;float:left;
    padding:0;margin:0;width:100%;
    
    .rds-col-m-3,
    .rds-col-m-4,
    .rds-col-m-6,
    .rds-col-m-12,
    .rds-col-d-3,
    .rds-col-d-4,
    .rds-col-d-6,
    .rds-col-d-12 {height:100%;float:left;margin:0;padding:0;}
}


/* mobile layout (420px) */
@media only screen and (max-width: 419px){
    body {
        font-family: $font-face-light;
        color: $text-color-black;
        line-height: $line-height-text-mobile;
    }
    /*
    h1, h2, h3, h4 {
        color: $text-color-black;
        line-height: $line-height-heading-mobile;    
    }
    h5, h6 {
        color: $text-color-black;
        line-height: $line-height-text-mobile;
    }
    */
    p {
        color: $text-color-black;
        line-height: $line-height-text-mobile;
    }
    a {
        color: $link-color-red;
        text-decoration: underline;
    }

    
    .rds-col-m-3 {width:25%;}
    .rds-col-m-4 {width:33.33333%;}
    .rds-col-m-6 {width:50%;}
    .rds-col-m-12 {width:100%;}
    
    
    .homepage-section {
        background:none !important;
    }
    .rds-section-label {
        padding-bottom: $heading-padding-mobile;
        border-bottom: $text-color-gray 1px solid;
        margin-bottom: $line-height-heading-mobile;
    }
    
}


    







/* desktop layout (420px) */
@media only screen and (min-width: 419px){
    body {
        font-family: $font-face-light;
        color: $text-color-black;
        line-height: $line-height-text-desktop;
    }
    /*
    h1, h2, h3, h4 {
        line-height: $line-height-heading-desktop;    
    }
    h5, h6 {
        line-height: $line-height-text-desktop;
    }
    */
    p {
        line-height: $line-height-text-desktop;
    }
    a {
        color: $link-color-red;
        text-decoration: underline;
    }
    
    
    .rds-col-d-3 {width:25%;}
    .rds-col-d-4 {width:33.33333%;}
    .rds-col-d-6 {width:50%;}
    .rds-col-d-12 {width:100%;}

    
    .homepage-section {
        background:linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,1.0)), url(https://www.redwolfdesignstudio.com/wp-content/uploads/2017/07/laptop-coffee-bg.jpg);
            background-position:50% 50% !important;background-size:cover !important;background-repeat:no-repeat;
    }
    .fp-tableCell {
        display:block !important;
    }
    .rds-section-label {
        padding-bottom: $heading-padding-desktop;
        border-bottom: $text-color-gray 1px solid;
        margin-bottom: $line-height-heading-desktop;
    }

    
}